<div class="view-containaer" style="
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
">

  <app-side-navigation class="side-containaer" style="
    display: flex;
    position: relative;
    min-width: 220px;
    background: blue;
    "> </app-side-navigation>

  <div class="center-containaer" style="
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    ">


    <app-toolbar style="
      background-color: red;
      height: 56px;
      "> 
      </app-toolbar>

    <div style=" 
      display:flex;    
      background-color: palegreen;
    ">
      <router-outlet> </router-outlet>
    </div>

 
  </div>
</div>