.toolbar-container {
    position: fixed;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-app-region: drag;
    align-items: center;
    height: 56px;
    left: 220px;
    min-width: 770px;
    padding: 0 24px;
    right: 0;
    top: 0;
    z-index: 200;
    background-color: #fff;
    background-color: var(--main-background-color);
    border-bottom: 1px solid #eaeaea;
} 