.navigation-container {
    position: fixed;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 80px;
    width: 220px;
    z-index: 100;
    background-color: #fff;
    background-color: var(--sidebar-background-color);
    border-right: 1px solid #eaeaea;
}
